<div class="row">
  <h2 class="heading text-center">退会</h2>

  <div class="col-sm-12 text-center">
    <h3><strong>本当に退会してもよろしいでしょうか？</strong></h3><br>
    <p>退会した場合、こちらのアカウントに今後ログインすることができなくなります。</p>
    <p>それでも退会をご希望される場合には、「退会する」をクリックしてください。</p>
  </div>

  <div class="text-center col-sm-offset-1 col-sm-10 col-sm-offset-1">
    <div class="col-sm-6">
      <%= link_to "引き続き利用する", customer_path(@customer), class: "btn btn-lg btn-block btn-primary" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "退会する", withdraw_customer_path(@customer), method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-lg btn-block btn-danger" %>
    </div>
  </div>

</div>
