<div class="row">
  <%= render 'customer/pairs/search_form' %>
</div>

<div class="row">
  <div class="top-heading col-sm-12 text-center">
    <h1 class="top-title "><strong>Welcome to PairingTime</strong></h1>
    <br>
    <p class="top-description">~ 皆さんがほっと一息つく時間をもっと楽しく ~</p>
  </div>

  <div class="row">
    <%= render 'customer/pairs/index', pairs: @random_pairs %>
  </div>

  <div class="row text-center link-button">
    <div class="col-sm-6">
      <%= link_to "お問い合わせ", new_contact_path, class: "btn btn- btn-lg btn-primary col-sm-12" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "投稿をもっと見る", pairs_path, class: "btn btn-lg  btn-success col-sm-12" %>
    </div>
  </div>
</div>



