<h1 class="text-center">Welcome to PairingTime</h1>

<div class="text-center">
  <%= link_to "お問い合わせ", "#", class: "btn btn-lg btn-primary" %>
  <%= link_to "投稿をもっと見る", "#", class: "btn btn-lg  btn-success" %>
</div>


