<div class="sort-form col-sm-3 pull-left">
  <%= form_with(url: sort_pairs_path, method: :GET, local: true) do |f| %>
  <div class="input-group">
    <%= f.select :keyward, [ ['投稿が新しい順', 'new'],
    ['投稿が古い順', 'old'],
    ['いいねが多い順', 'likes'],
    ['いいねが少ない順', 'dislikes'],
    ['コメントが多い順', 'many_comments'],
    ['コメントが少ない順', 'few_comments'],
  ],
  {}, class: "form-control" %>
  <span class="input-group-btn">
    <%= f.submit "並び替え", class: "btn btn-warning" %>
  </span>
</div>
<% end %>
</div>