<div class="row">
  <h2 class="heading text-center">投稿一覧（全<%= Pair.count %>件）</h2>

  <% @pairs.each do |pair| %>
    <div class=col-sm-3>
      <%= link_to pair_path(pair) do %>
        <%= attachment_image_tag pair, :image, :fill, 270, 270, fallback: "no_image.jpg", size: "230x230", class: "pair-image" %>
        <h5><%= pair.title %></h5>
      <% end %>
    </div>
  <% end %>

</div>
