<div class="row">
  <h2 class="heading text-center">お気に入り一覧（全<%= @like_pairs.count %>件）</h2>

  <%= render 'customer/pairs/index', pairs: @like_pairs %>
  <div class="text-center col-12 col-xs-12 col-sm-12"><%= paginate @like_pairs %></div>

</div>
