/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  padding: 65px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F5DEB3;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ヘッダー */

header {
  background-color: #DEB887;
}

.logo {
  height: 60px;
}

.login-message {
  margin: 20px 25px 0 0;
}

/* フッター */

footer {
  background-color: #DEB887;
  p {
    margin-top: 15px;
  }
}

/* フラッシュメッセージ */

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

#error {
  color: red;
}

/* フォーム */
.form-group {
  margin: 20px 0;
}

.actions {
  margin: 30px 0;
}

/* 画像 */
.about-image {
  border-radius: 50%;
  border: 2px solid black;
  margin: 30px 0;
}

.profile-image {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 5px;
}

.pair-image {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 10px
}

/* バッジ */
.badge-danger {
  background-color: red;
}

.badge-success {
  background-color: green;
}

/* お気に入り */

.red-heart {
  color: red;
  span {
    color: black
  }
}

/* タイトル */
.heading {
  margin-bottom: 25px;
  font-weight: bold;
}

/* トップ */

.top-heading {
  margin-bottom: 5px;
}

.top-title {
  font-size: 90px;
}

.top-description {
  font-size: 26px;
}

.link-button {
  margin-top: 30px;
}

.ranking-title {
  margin: 25px 0;
  border: 3px solid black;
  border-radius: 10px;
  background-color: orange;
}

.ranking-heading {
  margin: 25px 0;
}

/* コメント*/

.comment-section {
  padding-top: 40px;
}

.comment-title {
  padding-bottom: 5px;
}

.comment-badge {
  background-color: #fff;
  color: black;
  margin-left: 10px;
}

/* 通知 */

.notification-box {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.notification-message {
  padding-top: 20px;
}

.notification-circle {
  position: absolute;
  padding-top: 20px;
}

/* ページング */

.pagination>li>a {
  color: black;
}

.pagination>.active>a {
  background: orange;
}