/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  padding: 65px 0;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #F5DEB3;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  border: 2px solid #CD853F;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #3F250B;
}

/* ヘッダー */

header {
  background-color: #3F250B;
}

header li i {
  color: #fff;
}

.logo {
  height: 60px;
}

.login-message {
  margin: 25px 25px 0 0;
}

.navbar-nav li a:hover {
  text-decoration: none;
  background-color: #3F250B;
}

.notification-mark {
  position: absolute;
  margin-top: 15px;
}

.dropdown-menu {
  background-color: #3F250B;
}

/* フッター */

footer {
  background-color: #3F250B;
  p {
    padding-top: 15px;
    color: #fff;
  }
}

.share-button {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
}

/* フラッシュメッセージ */

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

#error {
  color: red;
}

/* フォーム */
.form-group {
  margin: 20px 0;
}

.actions {
  margin: 30px 0;
}

/* 画像 */

.about-image {
  height: 320px;
  width: 320px;
  margin: 30px 0;
}

.profile-image {
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.pair-image {
  height: 250px;
  width: 250px;
  margin-top: 10px;
}

.show-profile-image {
  height: 160px;
  width: 160px;
  margin-top: 10px;
}

.comment-profile-image {
  height: 40px;
  width: 40px;
}

.chat-profile-image {
  height: 120px;
  width: 120px;
}

.notification-profile-image {
  height: 60px;
  width: 60px;
}

/* バッジ、ボタン、ラベル */
.badge-danger {
  background-color: red;
}

.badge-success {
  background-color: green;
}

.badge-brown {
  background-color: #CD853F;
}

.badge-primary {
  background-color: #337ab7;
}

.badge-warning {
  background-color: red;
}

.new-badge {
  position: absolute;
  margin: 40px 0 0 5px;
}

.btn-brown {
  background-color: #CD853F;
  color: #fff;
}

.label-brown {
  background-color: #CD853F;
}

.label-brown a {
  color: #fff;
}

/* お気に入り */

.red-heart {
  color: red;
  span {
    color: black
  }
}

/* タイトル */
.heading {
  margin-bottom: 25px;
  font-weight: bold;
}

/* トップ */

.top-heading {
  margin: 10px;
}

.top-title {
  font-size: 90px;
}

.top-description {
  font-size: 26px;
  margin-bottom: 10px;
}

.link-button {
  margin-top: 30px;
}

.ranking-heading {
  margin: 25px 0;
}

/* 概要 */

.about-description {
  line-height: 1px;
}

.about-description h4 {
  line-height: 30px;
}

.how-to-use {
  margin-top: 80px;
}

.how-to-use-item {
  padding-bottom: 10px;
}

.how-to-use ul li {
  list-style: square;
}

/* 退会 */

.sp-none {
  display: none;
}

.quit-description h4 {
  line-height: 30px;
}

.quit-item {
  margin-bottom: 5px;
}

/* コメント*/

.comment-section {
  padding-top: 40px;
}

.comment-title {
  padding-bottom: 5px;
}

.comment-badge {
  background-color: #fff;
  color: black;
  margin-left: 10px;
}

/* 通知 */

.notification-box {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.notification-message {
  padding-top: 20px;
}

.notification-circle {
  position: absolute;
  padding-top: 20px;
}

/* チャット */

.my-message {
  text-align: right;
  border: 1px solid #CD853F;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 300px;
  padding-right: 10px;
}

.opponent-message {
  text-align: left;
  border: 1px solid #CD853F;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 300px;
  padding-left: 15px;
}

/* ページング */

.pagination>li>a {
  color: black;
}

.pagination>.active>a {
  background: #CD853F;
}

@media screen and (max-width: 768px) {

  .logo {
    height: 45px;
    padding-left: 25px;
  }

  /* Hamburger menu */

  #hm-icon{
    position: fixed;
    right: 25px;
    top: 18px;
    z-index: 10;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 46px;
    height: 28px;
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-315deg);
    transform: translateY(12px) rotate(-315deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(315deg);
    transform: translateY(-12px) rotate(315deg);
  }

  .navbar-right {
    position: fixed;
    top: 0;
    right: 0;
    background: #3F250B;
    color: black;
    width: 50%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }

  .navbar-right li{
    text-align: center;
    margin-top: 20px;
  }

  .navbar-right li:first-child{
    text-align: center;
    margin-top: 80px;
  }

  .navbar-right a{
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  /* 画像 */

  .about-image {
    height: 270px;
    width: 270px;
    margin: 30px 0;
  }

  .profile-image {
    height: 200px;
    width: 200px;
    margin-top: 5px;
  }

  .pair-image {
    height: 200px;
    width: 200px;
    margin-top: 10px
  }

  .show-profile-image {
    height: 120px;
    width: 120px;
    margin-top: 5px;
  }

  .comment-profile-image {
    height: 30px;
    width: 30px;
  }

  .chat-profile-image {
    height: 80px;
    width: 80px;
  }

  .notification-profile-image {
    height: 40px;
    width: 40px;
  }

  /* トップ */

  .top-heading {
    margin: 2px;
  }

  .top-title {
    font-size: 45px;
  }

  .top-description {
    font-size: 18px;
    margin-bottom: 2px;
  }

  /* 概要 */

  .about-page h1 {
    font-size: 12px;
  }

  .about-page h4 {
    font-size: 8px;
  }

  .about-description {
    line-height: 1px;
  }

  .about-description h4 {
    line-height: 15px;
  }

  .how-to-use {
    margin-top: 30px;
  }

  .how-to-use-item {
    padding-bottom: 2px;
  }

  /* 退会 */

  .sp-none {
    display: block;
  }

}

@media screen and (max-width: 576px) {

  .logo {
    height: 35px;
    padding-left: 15px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  /* ハンバーガーメニュー */

  #hm-icon{
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 10;
  }

  .menu-trigger {
    position: relative;
    width: 36px;
    height: 20px;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 8px;
  }

  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(8px) rotate(-315deg);
    transform: translateY(8px) rotate(-315deg);
  }

  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(315deg);
    transform: translateY(-8px) rotate(315deg);
  }

  /* 画像 */

  .about-image {
    height: 220px;
    width: 220px;
    margin: 30px 0;
  }

  .profile-image {
    height: 200px;
    width: 200px;
    margin-top: 5px;
  }

  .pair-image {
    height: 200px;
    width: 200px;
    margin-top: 10px
  }

  .show-profile-image {
    height: 80px;
    width: 80px;
    margin-top: 5px;
  }

  .comment-profile-image {
    height: 20px;
    width: 20px;
  }

  .chat-profile-image {
    height: 40px;
    width: 40px;
  }

  .notification-profile-image {
    height: 40px;
    width: 40px;
  }

  /* トップ */

  .top-heading {
    margin: 0;
  }

  .top-title {
    font-size: 40px;
  }

  .top-description {
    font-size: 16px;
    margin-bottom: 2px;
  }

  /* チャット */

  .my-message {
    margin-left: 100px;
  }

  .opponent-message {
    margin-right: 100px;
  }

}