/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  padding: 70px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #FFE4C4;
}

/* ヘッダー */

header {
  background-color: #DEB887;
}

.login-message {
  margin: 25px 25px 0 0;
}

/* フッター */

footer {
  background-color: #DEB887;
  p {
    margin-top: 15px;
  }
}



/* フラッシュメッセージ */

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

#error {
  color: red;
}

/* フォーム */
.form-group {
  margin: 20px 0;
}

.actions {
  margin: 30px 0;
}

/* 画像 */
.about-image {
  border-radius: 50%;
  border: 2px solid black;
  margin: 30px 0;
}

.profile-image {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 25px;
}

.pair-image {
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 25px
}

/* バッジ */
.badge-danger {
  background-color: red;
}

.badge-success {
  background-color: green;
}

/* タイトル */
.heading {
  margin-bottom: 30px;
  font-weight: bold;
}

/* トップ */

.top-heading {
  margin: 5px;
}

.top-title {
  font-size: 85px;
}

.top-description {
  font-size: 26px;
}

.link-button {
  margin-top: 30px;
}

/* コメント*/

.comment-section {
  padding-top: 40px;
}